.home-btn {
    background-color: transparent;
    color: white;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px white solid;
    &:hover {
        background-color: rgba(255, 255, 255, 0.858);
        color: rgb(0, 0, 0);
        transform: scale(1.1);
    }
}
.space-btn {
    background-color: transparent;
    color: white;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px rgb(255, 255, 255) solid;
    &:hover {
        background-color: rgba(255, 255, 255, 0.858);
        color: rgb(0, 0, 0);
    }
}
.btn-back {
    background-color: transparent;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px rgb(255, 255, 255) solid;
    &:hover {
        background-color: rgba(255, 255, 255, 0.858);
        color: rgb(0, 0, 0);
    }
}
