.home {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: whitesmoke;
    .head-text {
        font-family: $fontBold;
        font-size: 4rem;
        margin-bottom: 1.5rem;
    }
    .sub-text {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
}
