.text-area-container {
    position: absolute;
    top: 30%;
    left: 65%;
    margin-right: 1rem;
    .card {
        background-color: rgba(255, 255, 255, 0.389);
        border-radius: 1rem;
        padding: 0.5rem 1rem 1rem 1rem;
        height: 20rem;
        .card-header {
            margin-bottom: 2rem;
        }
        .back {
            position: absolute;
            right: 10px;
            bottom: 20px;
            transition: all 0.3s ease-in-out;
            &:hover {
                transform: scale(1.2);
            }
        }

        .icons-part {
            .icons {
                .edit-icon {
                    position: absolute;
                    left: 10px;
                    bottom: 20px;
                    font-size: 2rem;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}
textarea {
    background: none;
    resize: none;
    border: 1px solid grey;
    width: 100%;
    font-size: 1.25rem;
    border-radius: 10px;
    padding: 10px;
    color: white;
    overflow: hidden;
    height: auto;
    min-height: 130px;
    max-height: 180px;
}
