@font-face {
    font-family: "TrivialBold";
    src: url("../assets/font/Trivial-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "TrivialLight";
    src: url("../assets/font/Trivial-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

$fontBold: "TrivialBold", sans-serif;
$fontContent: "TrivialLight", cursive;

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: black;
    overflow: hidden;
    color: whitesmoke;
    font-family: $fontContent;
}
li {
    list-style: none;
}
